.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  margin-top: 4rem;
}

.button {
  background-color: gray;
  color: white;
}

.button:hover {
  background-color: rgb(85, 83, 83);
}
