<div class="grid-container">
  <div class="row">
    <div class="col">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="parameter"
      />
    </div>
    <div class="col">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="addParameter()"
      >
        Search
      </button>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="row">
    <div
      class="card"
      style="
        width: 14rem;
        border: 1px solid gray;
        margin-left: 2rem;
        margin-bottom: 1rem;
      "
      *ngFor="let data of recipes"
    >
      <img
        class="card-img-top"
        [src]="data.recipe.image"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ data.recipe.label }}</h5>
        <a [href]="data.recipe.url" class="btn button" target="_blank"
          >Recipe</a
        >
      </div>
    </div>
  </div>
</div>
