<div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col"><h6>Nutrient</h6></div>
      </div>
      <div class="row" *ngFor="let item of nutrients | keyvalue">
        <div class="col">{{ item.value.label }}</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col"><h6>Quantity</h6></div>
      </div>
      <div class="row" *ngFor="let item of nutrients | keyvalue">
        <div class="col">
          {{ item.value.quantity | number: ".1-2" }} {{ item.value.unit }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
